:root {
  font-family: "Redaction";
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #111111;
}


img:global {
  border: 1px solid white;
}

a {
  color: #23242b;
  text-decoration: inherit;
}

a:hover {
  color: white;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  align-items: center;
}

@font-face {
  font-family: "Redaction";
  src: url("/Redaction-Regular.woff2") format("woff2");
  font-display: auto;

  font-family: "Redaction 35";
  src: url("/Redaction35-Regular.woff2") format("woff2");
  font-display: auto;

  font-family: "Redaction 50";
  src: url("/Redaction50-Regular.woff2") format("woff2");
  font-display: auto;
}