:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #111111;
}

a {
  font-weight: 200;
  color: #23242b;
  text-decoration: inherit;
}
a:hover {
  color: white;
}

p {
  color: white;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}